*{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(161, 161, 245);
}

h1{
    margin-left: 34%;
    font-size: 50px;
    color: red;
}

.items{
    display: flex;
    gap: 50px;
    margin-left: 110px;
    margin-right: 115px;
    margin-top: 2%;
}
.update{
    margin-left: 100px;
    font-size: 40px;
    margin-top: 3%;
    color: red;
    background-color: powderblue;
    margin-right: 100px;
}
.final {
    margin-left: 40%;
    margin-top: 3%;
    margin-right: 100px;
    
}

.final button{
    font-size: 40px;
    color: red;
    background-color: peachpuff;
    margin-right: 100px;
    align-items: center;
}
.items:hover{
    background-color:greenyellow;
    color: white;   
}
